<div class = "content-box" *ngFor ="let listing of listings"> 
    <h3>Product: {{listing.name}}</h3>    
    <p>Descrpition: {{listing.description}}</p>
    <p>price: ${{listing.price}}</p>

    <div class = "buttons-container">
        <a routerLink = "/edit-listing/{{listing.id}}">
            <button> Edit</button>
        </a>
        <button (click) = "onDeleteClicked(listing.id)">Delete</button>
    </div>
</div>
<a routerLink = "/new-listing">
    <button>Create a New Listing</button>
</a>